{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'bigfive/images/favicon.png'%}" type="image/x-icon">

  <title>Dikakapa Big Five </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'bigfive/css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'bigfive/css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'bigfive/css/responsive.css'%}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="{% static 'bigfive/images/hero-bg.jpg'%}" alt="">
      </div>
    </div>

    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_link-container">
            <a href="" class="contact_link1">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                1 Mackenzie St, Florida Park, Roodepoort, 1709
              </span>
            </a>
            <a href="" class="contact_link2">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +01 1234567890
              </span>
            </a>
            <a href="" class="contact_link3">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                info@dikakapabigfive.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="{% url 'home'%}">
              <span>
                                              <figure class="img-box" data-wow-delay="1s">
                                   <img src="{% static 'bigfive/images/author-image.png'%}" class="img-responsive" alt="">
                              </figure> 
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'about'%}"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'service'%}"> Services </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact'%}">Contact us</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="{% static 'bigfive/images/about-img.jpg'%}" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Who Are We?
              </h2>
            </div>
            <p>

              The current Dikakapa Big Five brand identity is an evolution of a security brand with a history in the security  space/industry having been around for a period of  time  Existing.</p>

              <p>
               Throughout its existence it has made huge strides in terms of evolving into a credible equitable brand. The company was previously known as Sihlangene Security now currently as a brand management exercise it has been rebranded into a new vibrant Security entity now named “Dikakapa Big Five”

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Dikakapa Big Five Security Training Academy
        </h2>

        <p>We offer a professional security training service and grades</p>


         <p> 
         <ul style="list-style: circle;">

           <li>Grade E</li>

           <li>Grade D</li>

           <li>Grade C</li>

           <li>Grade B</li>

           <li>Grade A</li>

           <li>Psira registration and Psira renewal </li>

         </ul> 

         </p>            
            <p>

              We specialize in CIT Awareness, correct attitude and effective procedures are the foundation of sensible practical security and that training establishes the foundation.</p>

              <p>
               Awareness, correct attitude and effective procedures are the foundation of sensible practical security and that training establishes the foundation.
            </p>

            <p>We value dedication and devotion to our clients needs. We value the creation of excellence in everything we do.</p>

            <p>We value our clients safety and security hence we train our own security personnel/Guards to ensure the level of professionalism and effective protection</p>

            <p>We provide an equal opportunity organization with the aim of developing employment opportunities by providing a security training.</p>

            <p>The quality and the professional approach in our business define us “Dikapa” meaning the best in Setswana.</p>

            <p>We are continually honing our skills and expertise necessary to maintain high standards and a quality service at all times.</p>

      </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'bigfive/images/stands.jpg'%}" alt="">
              </div>
              <div class="detail-box">

              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'bigfive/images/t2.jpg'%}" alt="">
              </div>
              <div class="detail-box">
    
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'bigfive/images/t3.jpg'%}" alt="">
              </div>
              <div class="detail-box">
 
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section --> 
  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <a class="navbar-brand" href="{% url 'home'%}">
              <span>
                DIKAKAPA BIG FIVE
              </span>
            </a>

          </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              CONTACT US
            </h5>
          </div>
          <div class="info_contact">
            <a href="" class="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                1 Mackenzie St, Florida Park, Roodepoort, 1709
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : 0685172241/ 0827669053
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                info@dikakapabigfive.com
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">

            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->




  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
    <span id="currentYear"></span> Copyright &copy; 2022 Dikakapa Big Fives | Powered by
      <a href="https://twitter.com/jc_le_mulivha">MULIVHA</a>
    </p>
  </footer>
  <!-- footer section -->

  <script src="{% static 'bigfive/js/jquery-3.4.1.min.js'%}"></script>
  <script src="{% static 'bigfive/js/bootstrap.js'%}"></script>
  <script src="{% static 'bigfive/js/custom.js'%}"></script>
</body>

</html>