<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<HEAD>

<TITLE>Email Signature</TITLE>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

</HEAD>

<BODY style="FONT-SIZE:10pt; FONT-FAMILY:ARIAL">
<table style="font-size:12px; font-family:Arial; line-height:17px; width:480px' " width="480" cellpadding="0" cellspacing="0" border="0">
 <tbody><tr>
  <td style="font-size:12px; font-family:Arial; background-color:#8F1F1B; padding:10px; width:240px; vertical-align:top " valign="top">
   <strong><span style="font-size:15px; font-family:Arial; color:#fff;">DIKAKAPA BIG FIVE SECURITY</span></strong><br>
   <span style="font-size:12px; font-family:Arial; color:#fff">‘’Botshelo  Ba  Ga Go  Ke Isago Ya Ga Go’’</span>
  </td>
  <td align="right" style="font-size:12px; font-family:Arial; width:240px; background-color:#4a4a4a; padding:10px; font-size:15px; font-weight:bold; color:#fff; vertical-align:middle;" valign="middle">
  
  </td>
 </tr>
 <tr>
  <td colspan="2" height="5" style="width:480px; line-height:5px; font-size:5px; vertical-align:top" valign="top"> </td>
 </tr>

 <tr>
  <td colspan="2" style="font-size:12px; font-family:Arial; width:480px; padding:10px; background-color:#ededed; vertical-align:top" valign="top">
   <span style="font-size:12px; font-family:Arial;">A Message From : {{first_name}} <br></span>

   <span style="font-size:12px; font-family:Arial;">Mobile : {{first_number}}<br></span>																					
   <span style="font-size:12px; font-family:Arial;">Mail : {{first_email}}<br></span>

   <br>

    <span style="font-size:12px; font-family:Arial;">{{first_message}}</span>

    <br>	
   </span>

  </td>
 </tr>
					
 <tr>
  <td colspan="2" height="5" style="width:480px; line-height:5px; font-size:5px; vertical-align:top" valign="top"> </td>
 </tr>
 
 <tr>
  <td colspan="2" height="5" style="width:480px; line-height:5px; font-size:5px; vertical-align:top;" valign="top"> </td>
 </tr>
 <tr>
  <td width="480px" style="font-size:10px; font-family:Verdana; color:#959595; line-height:10px; padding-bottom:10px; vertical-align:top; text-align:justify;" colspan="2" valign="top">
   This message was sent from the Dikakapa Big Five Security Website. People may want to know more about your company.


  <footer class="container-fluid footer_section">
    <p>
    <span id="currentYear"></span> Copyright &copy; 2022 Dikakapa Big Fives | Powered by
      <a href="https://twitter.com/jc_le_mulivha">MULIVHA</a>
    </p>
  </footer>

  </td>
 </tr>		
</tbody></table>
 
</BODY>
</HTML>